head{
    width: 0;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(2, 2, 2, 0.37);
    color: rgb(255, 255, 255);
    border-radius:10px;
    border: 1px solid rgb(255, 255, 255);
    width: 400px;
    padding: 100px;
    margin: 400px;
    font-family: system-ui;

}
.titulo1 {
    color: rgb(0, 0, 0);
    border-radius:10px;
    border: 1px solid rgb(255, 255, 255);
    font-family: system-ui;
    font-weight:bolder;
    text-align: center;
    font-weight: bolder;
}
.subtitulo1{
    font-family: system-ui;
    font-weight: bolder;
    border-radius: 5px;
    margin: 5px;
}
.titulo2 {
    font-family: system-ui;
    font-weight: bolder;
    border-radius: 5px;
    margin: 5px;
}
.tabela1{
    color: rgb(12, 12, 12);
    border-radius:5px;
    border: 0.5px solid rgb(2, 2, 2);
    background-color: rgba(81, 131, 207, 0.719);
    width: 400px;
    padding: 0px;
    margin: 0px;
    font-family: system-ui;
    font-size: small;
}
.botao1{
    background-color: rgb(173, 241, 141);
    border-radius: 5px;
    width: 150px;
    height: 20px;
    font-family: system-ui;
    font-weight: bolder;
    cursor: pointer;
}
.botao2{
    background-color: rgb(173, 241, 141);
    border-radius: 5px;
    width: 150px;
    height: 20px;
    font-family: system-ui;
    font-weight: bolder;
    cursor: pointer;
}
.botao3{
    background-color: rgb(173, 241, 141);
    border-radius: 5px;
    width: 150px;
    height: 20px;
    font-family: system-ui;
    font-weight: bolder;
    cursor: pointer;
}
.tabela2{
    color: rgb(12, 12, 12);
    border-radius:5px;
    border: 0.5px solid rgb(2, 2, 2);
    background-color: rgba(81, 131, 207, 0.719);
    width: 400px;
    padding: 0px;
    margin: 0px;
    font-family: system-ui;
    font-size: small;
}
   
